@font-face {
    font-family: Pompadur; /* Гарнитура шрифта */
    src: url(fonts/Avenir-Medium.eot), url(fonts/Myriad_Pro.eot), url(fonts/MyriadPro-Semibold.eot); /* Для IE5-8 */
    src: local(pompadur), url(fonts/Avenir-Medium.ttf), url(fonts/MyriadPro-Semibold.otf), url(fonts/Myriad_Pro.ttf); /* Для остальных браузеров */
}
header{
    padding: 0;
    margin: 0;
}

h1 {
max-height: 381px;
    font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 125px;
    margin-top: 0px;
    margin-left: 125px;
    padding-top: 0;
}

.h_letter {

     font-size: 83px;
     font-weight: normal;
    padding-top: 0;
 }
.h1_letter {

    font-size: 90px;
    font-weight: normal;
    padding-bottom: 0;

}
.h2{
  margin: auto;
    margin-left: 30px;
}
.brd{
    border: 6px solid black;
    max-width: 215px;
    margin-top: 0;
    margin-left: 125px;
    padding-top: 0;
}
.trapesiya{
    padding: 0;
margin: 0;
  margin: auto;
}