@font-face {
    font-family: Pompadur; /* Гарнитура шрифта */
    src: url(fonts/Avenir-Medium.eot), url(fonts/Myriad_Pro.eot), url(fonts/MyriadPro-Semibold.eot); /* Для IE5-8 */
    src: local(pompadur), url(fonts/Avenir-Medium.ttf), url(fonts/MyriadPro-Semibold.otf), url(fonts/Myriad_Pro.ttf); /* Для остальных браузеров */
}

